body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 20px;
    color: #333;
}

h1 {
    color: #2c3e50;
}

/* ---Button--- */
button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
    font-size: 14px;
}

button:hover {
    background-color: #2980b9;
}

/* ---ตาราง--- */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* ---Links--- */
a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #2980b9;
}
